spring.main.banner-mode=off
logging.level.org.springframework=INFO

spring.devtools.restart.enabled=false


#use your aws credentials here
aws.access-key = ***************************
aws.access-secret = ****************************
aws.region = us-east-1

aws.stream-name=*************************
