spring.main.banner-mode=off

spring.mvc.pathmatch.matching-strategy=ant_path_matcher
management.security.enabled=false
spring.security.user.name=username
spring.security.user.password=password

spring.datasource.url=jdbc:postgresql://127.0.0.1:5432/postgres
spring.datasource.username=root
spring.datasource.password=password
spring.jpa.properties.hibernate.default_schema=users
spring.jpa.hibernate.ddl-auto=none

spring.datasource.hikari.connectionTimeout=20000
spring.datasource.hikari.maximumPoolSize=3

logging.level.org.springframework=INFO

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

rapidapi.email.api=**********
rapidapi.hosts=****************
rapidapi.key=**********************

resilience4j.retry.enabled=true
resilience4j.retry.maxAttempts=3
resilience4j.retry.waitDuration=500
resilience4j.retry.retryOn=java.lang.Exception