spring.main.banner-mode=off
management.security.enabled=false
spring.datasource.url=jdbc:postgresql://127.0.0.1:5432/quartz
spring.datasource.username=postgres
spring.datasource.password=postgres
spring.jpa.properties.hibernate.default_schema=public
spring.jpa.hibernate.ddl-auto=none
spring.datasource.hikari.connectionTimeout=20000
spring.datasource.hikari.maximumPoolSize=3
logging.level.org.springframework=INFO
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
/*
values:memory / jdbc
*/
org.quartz.scheduler.instanceId=AUTO
spring.quartz.job-store-type=jdbc
org.quartz.threadPool.class=org.quartz.simpl.SimpleThreadPool
org.quartz.threadPool.threadCount=4
org.quartz.scheduler.instanceName=PostgresScheduler
org.quartz.jobStore.class=org.quartz.impl.jdbcjobstore.JobStoreTX
spring.quartz.properties.org.quartz.jobStore.driverDelegateClass=org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
org.quartz.jobStore.dataSource=quartzDS
org.quartz.dataSource.quartzDS.driver=org.postgresql.Driver
org.quartz.dataSource.quartzDS.URL=jdbc:postgresql://127.0.0.1:5432/quartz
org.quartz.dataSource.quartzDS.user=postgres
org.quartz.dataSource.quartzDS.password=postgres

